.container {
  flex-direction: column;
  width: 100%;

  .main-slider{
    background-color: rgb(249, 249, 249);
    height: 480px;
    .img{
      width:100%;
    }
  }

  .scroll-view{
    height: 90vh;
    .content{
      background-color: #ffffff;
      padding: 20px 30px;
    }

    .title{
      font-size: 38px;
      font-weight: bold;
    }

    .desc{
      font-size: 28px;
      margin: 20px 10px;
      color: #333;
    }

    .number{
      .at-col{
        font-size: 26px;
      }
    }

    .remark-link{
        margin-top: 20px;
        background-color: #ffffff;
        padding: 30px 40px;
        color: #333;
        font-size: 28px;
    }

    .message{
      margin-top: 20px;
      background-color: #ffffff;
      padding: 20px 40px;
      color: #333;
      font-size: 28px;
    }
    
    .message-content{
      padding: 20px;
    }
  }

  .trade{
    background-color: #ffffff;
    padding: 20px;
    height: calc(10vh - 40px);
  }

  .at-row{
    border-top: none;
  }

  .at-col{
    text-align: left;
  }
}