.container {
  flex-direction: column;
  width: 100%;

  .item-content{
    padding: 20px;
  }
}

.search {
  height: 88px;
  width: calc(100vw - 60px);
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
}

.search .icon {
  line-height: 59px;
}

.search .input {
  width: 690px;
  height: 56px;
  background: #ededed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .txt {
  height: 42px;
  line-height: 42px;
  color: #666;
  padding-left: 10px;
  font-size: 30px;
}