.container {
  flex-direction: column;
  width: 100%;

  .tab-content{
    padding: 20px 0;
  }

  .Doing{
     .item-extra__info{
       color: #3b84eb;
     }
  }

  .Done{
    .item-extra__info{
      color: #ff8c00;
    }
  }

  .Cancel{
    .item-extra__info{
      color: #f7454e;
    }
  }
}