.container {
  flex-direction: column;
  width: 100%;

  .tab-content{
    padding: 20px 0;
  }

  .doing{
     .item-extra__info{
       color: #3b84eb;
     }
  }

  .done{
    .item-extra__info{
      color: #ff8c00;
    }
  }

  .cancel{
    .item-extra__info{
      color: #f7454e;
    }
  }
}