.container {
  flex-direction: column;
  width: 100%;

  padding: 20px 0;

  .category{
    margin-top: 20px;
  }

  .item-content__info-title::before {
    display: inline-block;
    margin-right: 8rpx;
    color: #FF4949;
    font-size: 28rpx;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }

  .at-list__item::after {
    left: 0;
  }

  .at-list__item {
    margin-left: 32rpx;
    padding-left: 0;
  }

  .title{
    margin-right: 16rpx;
    width: 172rpx;
    font-size: 32rpx;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
    padding: 20px 20px 10px 32px;
  }
  .title::before {
    display: inline-block;
    margin-right: 8rpx;
    color: #FF4949;
    font-size: 28rpx;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }

  .skill, .experience{
    margin: 10px;
    width: calc(100vw - 20px);
  }
  
  .description{
    margin: 10px;
    border: none;
  }

  .photo-title{
    padding: 10px;
    color: #333;
  }

  .famous-add{
    .at-image-picker__choose-btn {
      display: inline;
    }
  }

  .famous-remove{
    .at-image-picker__choose-btn {
      display: none;
    }
  }

  .submit{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}