.container {
  flex-direction: column;
  width: 100%;

  .main-slider{
    background-color: #e5e5e5;
    height: 480px;
    .img{
      width:100%;
    }
  }

  .scroll-view{
    height: 90vh;
    .content{
      background-color: #ffffff;
      padding: 20px 30px;
    }

    .title{
      font-size: 38px;
      font-weight: bold;
      margin: 10px 0;
    }

    .desc{
      font-size: 28px;
      margin: 20px 10px;
      color: #333;
    }

    .number{
      .at-col{
        font-size: 21px;
      }
    }

    .team-list{
      margin: 30px 0;
    }

    .urls{
      margin-top: 20px;
      font-size: 28px;
      word-break: break-all;
    }

    .file{
      margin-top: 10px;
      font-size: 28px;
      word-break: break-all;
    }
  }

  .trade{
    background-color: #ffffff;
    padding: 20px;
    height: calc(10vh - 40px);
  }

  .at-row{
    border-top: none;
  }

  .at-col{
    text-align: left;
  }
}