.container {
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}

.content{
  display: flex;
  justify-content: space-between;
}
.left-side {
  display: inline-block;
}

.right-side {
  display: inline-block;
  .select-btn {
     margin-top: 50px;
     border-radius: 50%;
     width: 75px;
     height: 75px;
     border: 2px solid #606060;
  }
  .selected {
      background-color: #6190E8 ;
  }
}

.at-divider {
  height: auto;
}